
/*
* Buttons
*/
.button.has-icon:hover .ai-form-button-icon,
.button.has-icon:hover .nav-form-button-icon {
    bottom: 0rem;
}

.form-btn-icon {
    pointer-events: none;
}

.hovered .form-btn-icon .ai-form-button-icon,
.hovered .form-btn-icon .nav-form-button-icon {
    bottom: 0rem;
}



.button .btn_circle,
.button_form .btn_circle {
    transition: transform 0.7s ease;
}

.button:hover .btn_circle,
.button_form:hover .btn_circle {
    transform: scale(2.5);
}