#email-form label.error,
#email-form .w-input,
#email-form .w-input:focus,
#email-form .w-checkbox {
    transition: all 0.3s;
}


/* Validation errors */
#email-form label.error {
    font-size: 0.875rem;
    position: absolute;
    top: calc(100% + .25rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease 0.3s, visibility 0s linear 0.3s;
    color: var(--text-color--text-error);
}

#email-form label.error.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

#email-form .w-input.error {
    border-color: var(--text-color--text-error);
}

#email-form .w-input:focus {
    box-shadow: 0 0 0 1px var(--_theme---brand-2--elements);
    border-color: var(--_theme---brand-2--elements);
}


@media screen and (max-width: 480px) {
    .email-example {
        display: none;
    }
}

/* Hide native checkbox */
.s_cfo_form_row_checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: #1E1E1E;
    width: 20px;
    height: 20px;
    border: 2px solid var(--_theme---brand-2--elements);
    border-radius: 4px;
    display: grid;
    place-content: center;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
}

.s_cfo_form_row_checkbox input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: var(--_theme---brand-2--elements);
}

.s_cfo_form_row_checkbox input[type="checkbox"]:checked::before {
    transform: scale(1);
}

@media screen and (max-width: 767px) {
    form .w-checkbox:has(input[type="checkbox"]) .w-form-label {
        width: 90%;
    }
}

form .w-checkbox:has(input[type="checkbox"]:checked) {
    background-color: var(--base-color-brand--persian-pink);
    border: 1px solid var(--base-color-brand--eerie-black);
}

form .w-checkbox:has(input[type="checkbox"]:checked) a,
form .w-checkbox:has(input[type="checkbox"]:checked) .w-form-label {
    color: var(--base-color-brand--eerie-black);
}

form .w-checkbox:has(input[type="checkbox"]:checked::before) {
    background-color: var(--base-color-brand--eerie-black);
}

form .w-checkbox input[type="checkbox"]:checked {
    border: 2px solid var(--base-color-brand--eerie-black);
    color: var(--base-color-brand--eerie-black);
}

form .w-checkbox input[type="checkbox"]:checked::before {
    background-color: var(--base-color-brand--eerie-black);
}