/*
* Plans Page - Select Country
*/

/* Target your list container */
.card_fs_list_main_elem {
    scroll-behavior: smooth;


    /* For Firefox */
    scrollbar-width: thin;
    /* small width */
    scrollbar-color: var(--base-color-brand--persian-pink) transparent;
    /* thumb | track */

    &:hover {
        overscroll-behavior: contain;
        /* prevents page scroll bubbling */
    }
}


.card_fs_list_main_elem::-webkit-scrollbar-thumb {
    background-color: var(--base-color-brand--persian-pink);
    border-radius: 10px;
    /*border: 2px solid #ffe861; /* match the page bg to create the gap */
}

/* Chrome, Edge, Safari */
.card_fs_list_main_elem::-webkit-scrollbar {
    width: 14px;
    /* scrollbar width */
}

.card_fs_list_main_elem::-webkit-scrollbar-track {
    background: transparent;
    /* track color */
}

.card_fs_list_main_elem::-webkit-scrollbar-thumb {
    background-color: var(--base-color-brand--persian-pink);
    /* pink */
    border-radius: 10px;
}

/* Remove scrollbar arrows in Chrome, Edge, Safari */
.card_fs_list_main_elem::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

/* Optional: hover effect */
.card_fs_list_main_elem::-webkit-scrollbar-thumb:hover {
    background-color: var(--base-color-brand--persian-pink);
}