@import url('viewport.css');
@import url('colors.css');
@import url('comp-trusted.css');
@import url('comp-get-covered.css');
@import url('comp-crew.css');
@import url('comp-cards.css');
@import url('comp-steps-apply.css');
@import url('icons.css');
@import url('testimonials.css');
@import url('swiper.css');
@import url('faqs.css');
@import url('buttons.css');
@import url('fancybox.css');
@import url('animation-graphics.css');
@import url('menu.css');
@import url('form.css');
@import url('legal.css');
@import url('toc.css');
@import url('scrollbar.css');
@import url('text.css');
@import url('images.css');

