
.swiper-wrapper {
    -webkit-transition-timing-function:linear!important;
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important;
}

.section_testimonials_slider {
    .swiper-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0 !important;
        z-index: 0;
        transition: opacity 0.6s ease;
        pointer-events: none;
    }

    .swiper-slide-active {
        opacity: 1 !important;
        z-index: 1 !important;
        pointer-events: auto !important;
    }
}

.s_str_swipper{
    .swiper-wrapper {
        display: flex;
        align-items: center;
        will-change: transform;
    }
    .swiper-slide {
        width: auto !important;
        flex-shrink: 0;
    }
}
